/* fonts -
    font-family: 'Poppins', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --clr1: #BB0E65;
    --clr2: #1791B1;
    --pcolor: #ECECEC;
    --scolor: #121212;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    transition: all .5s ease;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    background: var(--pcolor);
}

/* For scrollbar */
/* ::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-track{
    background: var(--pcolor);
}
::-webkit-scrollbar-thumb{
    background: var(--clr1);
}
::-webkit-scrollbar-thumb:hover{
    background: var(--clr2);
} */

/* For all pages */
.pg {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 50px 20px;
    overflow-x: hidden !important;
    position: relative;
}

/* About page */
/* #abt-pg {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: var(--pcolor);
    padding: 50px 20px;
    overflow-x: hidden;
} */

.theme-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 55px;
    height: 30px;
    background: var(--scolor);
    cursor: pointer;
    z-index: 9;
}

.toggle-ball {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: var(--pcolor);
    transition: all .5s ease;
}

.dark .toggle-ball {
    left: 30px;
}

.menu {
    width: 35px;
    height: 35px;
    position: fixed;
    top: 5px;
    left: 7.5px;
    cursor: pointer;
    z-index: 8;
}

.menu span {
    display: inline-block;
    width: 100%;
    height: 5px;
    position: absolute;
    background: var(--scolor);
    top: 15px;
    left: 0;
    transition: all .5s ease;
}

.open span {
    width: 30px;
    left: 2.5px;
}

.open span:nth-child(1) {
    top: 5px;
}

.open span:nth-child(3) {
    top: 25px;
}

.close span {
    top: 15px;
    transform: rotateZ(45deg);
}

.close span:nth-child(2) {
    opacity: 0;
}

.close span:nth-child(3) {
    transform: rotateZ(-45deg);
}

.to-the-top {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    background: var(--scolor);
    right: 10px;
    cursor: pointer;
    text-decoration: none;
    color: var(--pcolor);
    display: grid;
    place-items: center;
    font-size: 20px;
    z-index: 6;
}

.to-the-top i {
    color: var(--pcolor);
}

.main-heading {
    font-size: 60px;
    text-align: center;
    color: var(--clr2);
}

.main-heading span {
    position: relative;
}

.logo-img {
    width: 150px;
}

.logo-img g {
    transition: none;
}

.abt-txt {
    font-size: 40px;
    text-align: center;
    color: var(--clr1);
}

#cursor {
    display: inline-block;
    width: 3px;
    height: 35px;
    position: relative;
    top: 1px;
    margin-left: 2px;
    background: var(--scolor);
    animation: blink 1s linear 0s infinite forwards;
}

/* For blinking effect */
@keyframes blink {
    0% {
        opacity: 1;
    }

    49% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

/* Menu Bar */
.menu-bar {
    width: 100vw;
    height: 100vh;
    background: var(--pcolor);
    position: fixed;
    top: 100%;
    left: 0;
    color: var(--scolor);
    z-index: 7;
    overflow-y: scroll;
    padding: 60px 30px;
    transition: all .5s ease;
    visibility: hidden;
}

.show {
    visibility: visible;
    top: 0;
}

.menu-bar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.menu-bar ul li a {
    padding: 10px 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--scolor);
    font-size: 25px;
}

.menu-bar ul li:hover {
    background: var(--scolor);
}

.menu-bar ul li:hover a {
    color: var(--pcolor);
}

/* Clock page */
/* #pg-1 {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: var(--pcolor);
    padding: 50px 20px;
    overflow-x: hidden;
} */
.clock-wrap {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    background: var(--scolor);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-wrap::after {
    content: '';
    background: var(--pcolor);
    width: 10px;
    height: 10px;
    z-index: 1;
    border-radius: 50%;
}

.hour-hand {
    display: inline-block;
    width: 6px;
    height: 60px;
    background: var(--clr2);
    position: absolute;
    top: 50px;
    left: 97px;
    transform-origin: center 50px;
    transition: none;
}

.minute-hand {
    display: inline-block;
    width: 4px;
    height: 80px;
    background: var(--clr1);
    position: absolute;
    top: 30px;
    left: 98px;
    transform-origin: center 70px;
    transition: none;
}

.second-hand {
    display: inline-block;
    width: 2px;
    height: 100px;
    background: var(--pcolor);
    position: absolute;
    top: 10px;
    left: 99px;
    transform-origin: center 90px;
    transition: none;
}

.time-data {
    display: inline-block;
    margin-top: 20px;
    font-size: 80px;
    position: relative;
    color: var(--scolor);
}

.time-scs {
    font-size: 30px;
    color: var(--clr1);
    position: absolute;
    bottom: -12px;
    right: 0;
}

.time-abt {
    font-size: 30px;
    color: var(--clr2);
    position: absolute;
    bottom: -10px;
    left: 0;
}

/* Stopwatch page */
/* #pg-2 {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: var(--pcolor);
    padding: 100px 0;
    overflow-x: hidden;
} */
.stopwatch-wrap {
    width: 150px;
    height: 200px;
    background: var(--scolor);
    display: flex;
    padding: 5px 0;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    scale: 2.5;
}

.sw-data {
    width: 100%;
    height: 160px;
    color: var(--pcolor);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.sw-data div {
    font-size: 25px;
    position: relative;
    display: grid;
    place-items: center;
    color: var(--pcolor);
}

.sw-data div::after {
    content: ". .";
    color: var(--pcolor);
    position: absolute;
    bottom: -12px;
    width: 60px;
    text-align: center;
}

.sw-data div:last-child:after {
    content: "";
}

.sw-btns {
    width: 100%;
    padding: 0 5px;
    height: 25px;
    gap: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.start {
    width: 80px;
    height: 100%;
    background: var(--clr2);
    color: var(--pcolor);
    display: grid;
    place-items: center;
    cursor: pointer;
}

.reset {
    width: 80px;
    height: 100%;
    background: var(--clr1);
    color: var(--pcolor);
    display: grid;
    place-items: center;
    cursor: pointer;
}

.swbtn:hover {
    transform: translateY(-1px);
}

/* Calculator page */
/* #pg-3 {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: var(--pcolor);
    padding: 50px 20px;
    overflow-x: hidden;
} */
.calculator {
    position: relative;
    display: grid;
    font-size: 30px;
    scale: 2;
    border: 5px solid var(--scolor);
    background: var(--scolor);
}

.value1 {
    height: 30px;
    grid-column: span 4;
    text-align: right;
    outline: none;
    padding: 0 5px;
    font-size: 15px;
    word-wrap: break-word;
    width: 200px;
    border: solid var(--scolor);
    border-width: 0 0 2px;
}

.value2 {
    height: 70px;
    width: 200px;
    border: solid var(--scolor);
    border-width: 0 0 5px;
    grid-column: span 4;
    text-align: right;
    outline: none;
    padding: 0 5px;
    font-size: 30px;
    word-wrap: break-word;
}

.key {
    grid-column: span 1;
    display: inline-block;
    font-size: 15px;
    width: 50px;
    height: 50px;
    display: grid;
    cursor: pointer;
    background: var(--scolor);
    color: var(--pcolor);
    place-items: center;
    border: 1px solid rgba(0, 0, 0, .1);
}

.equal {
    grid-row: span 2;
    height: 100px;
    background: var(--clr1);
}

.sclr i {
    color: var(--pcolor);
}

.allclear {
    background: var(--clr1);
}

.key:hover {
    background: var(--clr2);
}

/* Colorcode generator page */
/* #pg-4 {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 50px 20px;
    position: relative;
    transition: none;
    overflow-x: hidden;
} */
.bg-hex {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: none;
}

.clr-data {
    position: relative;
    cursor: pointer;
    width: 275px;
    height: 85px;
}

#clr-code-heading {
    transition: none;
    font-size: 50px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    padding: 5px 20px;
    transition: background .5s ease;
}

.clr-code-temp {
    position: absolute;
    top: 0;
    left: 0;
    width: 275px;
    height: 85px;
    opacity: 0;
    transition: opacity .25s ease;
}

.clr-desc {
    font-size: 15px;
    transition: none;
    position: absolute;
    bottom: 10px;
}

/* Weather app page */
#pg-5 {
    background: url(images/bg.jpg) no-repeat center;
    background-size: cover;
    padding: 50px 0;
    position: relative;
    overflow-x: hidden;
}

.app-container {
    margin: auto;
    width: 80vw;
    max-width: 600px;
    /* background-color: rgba(0, 0, 0, .2); */
    background-color: rgba(255, 255, 255, .2);
    backdrop-filter: blur(2px);
    /* border: 1px solid #ECECEC; */
}

.city-data {
    width: 80%;
    display: flex;
    height: 50px;
    align-items: center;
    margin: 20px auto 5px;
    background: var(--pcolor);
}

.city-name {
    width: calc(100% - 30px);
    outline: none;
    border: none;
    height: 100%;
    padding: 5px 5px 5px 10px;
    font-size: 25px;
    color: var(--scolor);
    background: var(--pcolor);
}

.search {
    height: 100%;
    background: var(--pcolor);
    display: grid;
    place-items: center;
    cursor: pointer;
    padding: 0 10px 0 5px;
}

.search i {
    color: var(--scolor);
    font-size: 20px;
    position: relative;
}

.search i a {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    text-decoration: none;
}

.error {
    font-size: 15px;
    color: var(--pcolor);
}

.city-details {
    margin-top: 10px;
    color: var(--pcolor);
    font-size: 40px;
    padding: 0 5px;
}

.city-time {
    color: var(--pcolor);
    font-size: 20px;
    padding: 0 5px;
}

.w-img {
    width: 100px;
    margin-top: 60px;
}

.temp {
    font-size: 80px;
    color: var(--pcolor);
    cursor: pointer;
}

.temp-val,
.temp span {
    color: var(--pcolor);
}

.temp-unit {
    font-size: 40px;
    color: var(--pcolor);
}

.temp-abt {
    font-size: 30px;
    padding: 0 5px;
    color: var(--pcolor);
}

.details-btn {
    cursor: pointer;
    margin: 60px auto 20px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    background: var(--pcolor);
    color: var(--scolor);
    transition: transform .5s ease;
}

.details-btn:hover {
    transform: translateY(-3px);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.details-blog {
    width: 100vw;
    height: 100vh;
    background: var(--pcolor);
    position: fixed;
    top: 100%;
    left: 0;
    color: var(--scolor);
    overflow-y: scroll;
    z-index: 10;
    padding: 60px 30px;
    visibility: hidden;
}

.open {
    visibility: visible;
    top: 0;
}

.detail {
    width: 100%;
    color: var(--scolor);
    margin-top: 30px;
    font-size: 25px;
}

.details-blog i {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
    font-size: 50px;
    color: var(--scolor);
}

body,
.pg,
.details-blog {
    overflow-x: hidden !important;
}

/* media querries */
@media screen and (max-width: 650px) {
    .stopwatch-wrap {
        scale: 2;
    }

    .calculator {
        scale: 1.5;
    }
}

@media screen and (max-width: 320px) {
    .stopwatch-wrap {
        scale: 1.2;
    }

    .calculator {
        scale: 1;
    }
}